html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    zoom: 1.05;
}
.box-area li:hover {
    display: none;
    transition: 0.2s;
}
*:focus {
    outline: none;
}

/** Section 1 Starts here! **/
#button1:hover,
#button2:hover {
    text-decoration: none;
}

.section-1,
.section-2 {
    height: 100vh;
    width: 100%;
    z-index:2;
}

.section-1 {
    padding-top: 15%;
}

.section-1 > h1,
.section-1 > h5,
.section-1 > a {
    text-align: center;
}

.section-1 > h2 {
    padding-bottom: 2%;
}

/** Section 2 starts here **/
.section-2 {
    padding: 2%;
}

.section-2 > h2 {
    text-align: center;
    padding: 0 10%;
    padding-top: 2%;
}

.section-2-div-1 {
    display: flex;
}

.section-2-div-1-1,
.section-2-div-1-2 {
    width: 100%;
    padding: 1% 2%;
    border: 1px solid #aaa;
    border-radius: 2em;
    margin: 1% 2%;
    box-shadow: 0 4px 4px #bbb;
}

.section-2-div-2 {
    padding-top:
}

.section-2-div-1-1 > h3,
.section-2-div-1-2 > h3 {
    text-align: center;
}

.section-2-div-1-1 > h3 {
    margin-bottom: 2%;
    margin-top: 9%;
}

.fab {
    font-size: 3em;
    padding-left: 5%;
}

/*.fa-html5 {
    margin-left: 15%;
}*/

.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-php,
.fa-laravel {
    color: #aaa;
    text-shadow: 2px 2px 8px #aaa;
}

.fa-html5:hover {
    color: #ff5733;
}

.fa-css3-alt:hover {
    color: #264de4;
}

.fa-js:hover {
    color: yellow;
}

.fa-php:hover{
    color:#474A8A;
}

.fa-laravel:hover{
    color:#F05340;
}

.section-2-div-2 {
    width: 100%;
    padding: 2%;
}

.section-2-div-2 > h3,
.section-2-div-2 > p {
    text-align: center;
}

#portfolio-button,
#business-website-button,
#landing-page-button,
#portfolio-button:active,
#business-website-button:active,
#landing-page-button:active,
#portfolio-button:visited,
#business-website-button:visited,
#landing-page-button:visited,
#portfolio-button:link,
#business-website-button:link,
#landing-page-button:link {
    color: black;
    text-decoration: none;
}

#portfolio-button:hover,
#business-website-button:hover,
#landing-page-button:hover {
    color: #aaa;
    text-decoration: none;
}

/** section 3 starts here **/

.section-3 {
    padding: 10%;
    margin-top: 7%;
    width: 100%;
    height: 90vh;
}

.section-3-div-1 > h2 {
    text-align: center;
}

#message , input {
    width: 60%;
}


.section-3-div-2 {
    margin-left: 27%;
}

.contact-wrapper {
    border: 1px solid #aaa;
    border-radius: 2em;
    padding: 5% 5%;
    margin-top: -7%;
    box-shadow: 0 4px 4px #bbb;
}

.submit-button {
    box-shadow: 0 4px 4px #bbb;
}

/** footer starts here **/
footer {
    height: 10vh;
    width: 100%;
    background-color: #aaa;
}


.footer-div-1 {
    display: flex;
    justify-content: space-between;
}

.footer-div-1-1 ,
.footer-div-1-2 { 
    width: 100%;
} 

.footer-div-1-2 > ul {
    margin-left: 35%;
    padding-top: 3.5%;
}

.footer-div-1-1 > ul > li ,
.footer-div-1-2 > ul > li {
    display: inline-block;
}

.footer-div-1-1 > ul > li {
    margin-left: 5%;
    margin-top: 3.5%;
}
.footer-div-1-2> ul > li {
    margin-left: 5%;
    margin-top: -1%;
}


.footer-div-1-1 > ul > li > a {
    color: white;
}

.footer-div-1-1 > ul > li > a:hover {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 8px #fff;
}


.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    font-size: 2em;
    color: white;
    margin-left: 5%;
}

.fa-facebook-square:hover {
    color: #4267b2;
}

.fa-twitter-square:hover {
    color:  #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover  {
    color: #517fa4;
}


.animation-area {
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: fixed;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(155,155,155,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height:80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height:30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height:100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height:150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 1;
    }
}